@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);








body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: undefined;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: undefined;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Slabo 27px', serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Slabo 27px', serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Slabo 27px', serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Slabo 27px', serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #cec3c3 !important;
}
.bg-success {
  background-color: #10b43f !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #0fb7b1 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #cec3c3;
  border-color: #cec3c3;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #ac9999;
  border-color: #ac9999;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ac9999 !important;
  border-color: #ac9999 !important;
}
.btn-secondary {
  background-color: #f40b0b;
  border-color: #f40b0b;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #ab0808;
  border-color: #ab0808;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ab0808 !important;
  border-color: #ab0808 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #10b43f;
  border-color: #10b43f;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #0a6e26;
  border-color: #0a6e26;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0a6e26 !important;
  border-color: #0a6e26 !important;
}
.btn-warning {
  background-color: #0fb7b1;
  border-color: #0fb7b1;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #09706d;
  border-color: #09706d;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #09706d !important;
  border-color: #09706d !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #a08b8b;
  color: #a08b8b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #cec3c3;
  border-color: #cec3c3;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #cec3c3 !important;
  border-color: #cec3c3 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #920707;
  color: #920707;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #f40b0b;
  border-color: #f40b0b;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f40b0b !important;
  border-color: #f40b0b !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #08561e;
  color: #08561e;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #10b43f;
  border-color: #10b43f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #10b43f !important;
  border-color: #10b43f !important;
}
.btn-warning-outline {
  background: none;
  border-color: #075956;
  color: #075956;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #0fb7b1;
  border-color: #0fb7b1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #0fb7b1 !important;
  border-color: #0fb7b1 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #cec3c3 !important;
}
.text-success {
  color: #10b43f !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #0fb7b1 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #10b43f;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #0fb7b1;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #cec3c3;
}
.btn-social:hover {
  background: #cec3c3;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #cec3c3;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #cec3c3;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #cec3c3;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #cec3c3;
}
.lead a,
.lead a:hover {
  color: #cec3c3;
}
.lead blockquote {
  border-color: #cec3c3;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #54f080;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #54f1eb;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #cec3c3;
}
#menu-9 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-9 .navbar-caption {
  color: #ffffff;
}
#menu-9 .navbar-toggler {
  color: #ffffff;
}
#menu-9 .close-icon::before,
#menu-9 .close-icon::after {
  background-color: #ffffff;
}
#menu-9 .link,
#menu-9 .dropdown-item {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#menu-9 .link {
  font-size: 0.85rem;
}
#menu-9 .dropdown-item,
#menu-9 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-9 .link:hover,
#menu-9 .dropdown-item:hover,
#menu-9 .link:focus,
#menu-9 .dropdown-item:focus {
  color: #cec3c3;
}
#menu-9 .link[aria-expanded="true"],
#menu-9 .dropdown-menu {
  background: #c80909;
}
#menu-9 .nav-dropdown-sm .link:focus,
#menu-9 .nav-dropdown-sm .link:hover,
#menu-9 .nav-dropdown-sm .dropdown-item:focus,
#menu-9 .nav-dropdown-sm .dropdown-item:hover {
  background: #ea0b0b!important;
}
#menu-9 .navbar,
#menu-9 .nav-dropdown-sm,
#menu-9 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-9 .nav-dropdown-sm .dropdown-menu {
  background: #f41010;
}
#menu-9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-9 .bg-color.transparent.opened .link:hover,
#menu-9 .bg-color.transparent.opened .link:focus {
  color: #cec3c3;
}
#menu-9 .link[aria-expanded="true"],
#menu-9 .dropdown-item[aria-expanded="true"] {
  color: #cec3c3!important;
}
#menu-9 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
}
#header3-0 .mbr-section-title,
#header3-0 .mbr-section-subtitle {
  text-align: center;
}
#header3-0 H3 {
  color: #f40c5a;
  font-family: 'Slabo 27px', serif;
}
#header3-1 .mbr-section-title,
#header3-1 .mbr-section-subtitle {
  text-align: center;
}
#header3-1 H3 {
  color: #f40c7d;
  font-family: 'Slabo 27px', serif;
}
#header3-8 .mbr-section-title,
#header3-8 .mbr-section-subtitle {
  text-align: center;
}
#header3-8 H3 {
  color: #6f0cf4;
  font-family: 'Slabo 27px', serif;
}
#header3-5 .mbr-section-title,
#header3-5 .mbr-section-subtitle {
  text-align: center;
}
#header3-5 H3 {
  color: #1051b3;
  font-family: 'Slabo 27px', serif;
}
#msg-box3-p .mbr-section-title,
#msg-box3-p p {
  color: #000;
}
#msg-box3-p .mbr-section-title {
  color: #0fcac3;
}
#msg-box3-b .mbr-section-title,
#msg-box3-b p {
  color: #000;
}
#msg-box3-b .mbr-section-title {
  color: #10b43f;
}
#header3-c .mbr-section-title,
#header3-c .mbr-section-subtitle {
  text-align: center;
}
#header3-c H3 {
  color: #8db410;
}
#contacts5-k p,
#contacts5-k .list-group-text,
#contacts5-k .form-control-label {
  color: #000;
}
#contacts5-k strong,
#contacts5-k h4 {
  color: #7e9b9f;
}
#contacts5-k form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-k .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-k .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-k H4 {
  color: #000000;
}
#footer1-2 P {
  color: #636363;
}


#menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-l .navbar-caption {
  color: #ffffff;
}
#menu-l .navbar-toggler {
  color: #ffffff;
}
#menu-l .close-icon::before,
#menu-l .close-icon::after {
  background-color: #ffffff;
}
#menu-l .link,
#menu-l .dropdown-item {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#menu-l .link {
  font-size: 0.85rem;
}
#menu-l .dropdown-item,
#menu-l .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-l .link:hover,
#menu-l .dropdown-item:hover,
#menu-l .link:focus,
#menu-l .dropdown-item:focus {
  color: #cec3c3;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-menu {
  background: #c80909;
}
#menu-l .nav-dropdown-sm .link:focus,
#menu-l .nav-dropdown-sm .link:hover,
#menu-l .nav-dropdown-sm .dropdown-item:focus,
#menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #ea0b0b!important;
}
#menu-l .navbar,
#menu-l .nav-dropdown-sm,
#menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-l .nav-dropdown-sm .dropdown-menu {
  background: #f41010;
}
#menu-l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-l .bg-color.transparent.opened .link:hover,
#menu-l .bg-color.transparent.opened .link:focus {
  color: #cec3c3;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-item[aria-expanded="true"] {
  color: #cec3c3!important;
}
#menu-l .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
}
#contacts5-m p,
#contacts5-m .list-group-text,
#contacts5-m .form-control-label {
  color: #000;
}
#contacts5-m strong,
#contacts5-m h4 {
  color: #7e9b9f;
}
#contacts5-m form .form-control {
  border-color: rgba(0, 0, 0, 0.2);
  color: #565656;
}
#contacts5-m .mbr-footer-content li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
#contacts5-m .mbr-company .list-group-text::after {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#contacts5-m H4 {
  color: #000000;
}
#footer1-n P {
  color: #636363;
}
